h3{
	font-family:serif;
	color:#ffffff;
}
h2{
	color:#7efc82;
	text-align:center;
}
h3{
	text-align: center;
	color:#043538;
	font-size:18pt;
	font-family:serif;
}
body{
	background:#9e2ad3;
}

a{
	  text-decoration:none;
	  color:#aee8e7;
	  font-size:14pt;
  }
#footer {
    /*position: fixed;*/ /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
   background: yellow;  /* Цвет фона */
    color: red;/* Цвет текста */
	width: 100%; /* Ширина слоя */
	font-style:italic;
	text-align:center;
}
p{
	text-align: center;
	color:#000000;
	font-size:18pt;
	font-family:serif;
}