<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Title</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <a th:href = "@{/demo/add}" class="btn btn-primary btn-lg" role="button">add</a>
        <br/>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>email</th>
            </tr>
            <tr th:each = "author : ${authors}">
                <td th:text = "${author.firstName}">test</td>
                <td th:text = "${author.lastName}">test</td>
                <td th:text = "${author.email}">test</td>
                <td> <a th:href = "@{'/demo/deleteContact?id='+${author.id}}">delete</a></td>
            </tr>
        </table>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>