<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8" />
    <title>Add Author page</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>


<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/book/add}" th:object = "${book}" method="POST">
                <label for="bookname">Book Name</label>
                <input type="text" id="bookname" name="bookname" th:field = "*{bookName}" class="form-control" placeholder="Атын енгіз" />

                <label for="years">Years</label>
                <input type="text" id="years" name="yearse" th:field = "*{year}" class="form-control" placeholder="Жылын енгіз" />


                <br/>
                <button type="submit" class="btn btn-primary">Сақтау</button>

            </form>
        </div>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>