<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Тесттік сайт</title>
    <link rel="stylesheet" th:href = "@{/css/style.css}" />
    <link rel="Icon" type="img/icon" href="images/garland_favicon.png">
</head>
<header>
    <img src ="images/white_logo.png" alt="logo">
</header>
<body>


<div class="menu">
    <a><strong>Басты бет</strong></a> |
    <a href="/demo/all2">Студенттер тізімі</a> |
    <a href="/demo/show">Студент қосу</a>
</div>

<p>
    Қ.И.Сәтбаев атындағы Қазақ ұлттық техникалық зерттеу университеті әртүрлі
    әлем елдерінің мамандары мен студенттерін біріктіретін
    халықаралық-танымал ғылыми-зерттеу және білім беру мекемелерінде қалыптаса
    бастаған жоғары жетістіктерге жетуге талпынады.
</p>
<footer>
    &copy;ALL rights reserved 2018
</footer>
</body>
</html>