<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Publisher page</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/pub/add}" th:object = "${publisher}" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" th:field = "*{Name}" class="form-control" placeholder="Есімін енгіз" />

                <label for="email">Email</label>
                <input type="text" id="email" name="email" th:field = "*{email}" class="form-control" placeholder="Email енгіз" />

                <label for="phone">Phone</label>
                <input type="phone" id="phone" name="phone" th:field = "*{phone}" class="form-control" placeholder="Телефон номерінді енгіз"/>

                <label for="address">Address</label>
                <input type="text" id="address" name="address" th:field = "*{address}" class="form-control" placeholder="мекен-жайды енгіз" />

                <br/>
                <button type="submit" class="btn btn-primary">Сақтау</button>

            </form>
        </div>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>